<html>
<head>
    <title>BEST RESTAURANTS</title>
    <link rel="stylesheet" href="login.css">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- W3 CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Icon class Library -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="google-signin-client_id" content="654850278343-pnk1vt58bss5ifjjl46h439jl24o9cj5.apps.googleusercontent.com">

    <!-- Google API script we need inorder to sign in-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- FireBase Repository -->
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase.js"></script>
    <script src="login.js"></script>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

    <!-- font awesome -->
    <link rel="stylesheet" href="css/all.css">
    <title>Grocery Item</title>
    <style>
    </style>
    <style>
        body, html {
            height: 100%;
        }


    </style>





</head>

<style>
    body, html {
        height: 100%;
    }

    body {
        background-image: url("bgg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>


<body>
<div class="heading text-center">BEST RESTAURANTS</div>
<div ng-app="HCDMSApp" ng-controller="HCDMSController">
    <div class="registration text-center">
        <form>
            <div class="form-group">
                <label class="fontstyle col-sm-4">Name:</label>
                <input type="text" class="w3-round" placeholder="Enter name" name="name" ng-model="regName">
            </div>
            <div class="form-group">
                <label class="fontstyle col-sm-4">Email:</label>
                <input type="email" class="w3-round" placeholder="Enter email" name="email" ng-model="regEmail">
            </div>
            <div class="form-group">
                <label class="fontstyle col-sm-*">Phone Number:</label>
                <input type="text" class="w3-round" placeholder="Enter Phone number" name="phno" ng-model="regPhno">
            </div>
            <div class="form-group">
                <label class="fontstyle col-xs-4">Address:</label>
                <input class="w3-round" placeholder="Enter Address" name="address" ng-model="regAddress"/>
            </div>
            <div class="form-group">
                <label class="fontstyle col-sm-4">Password:</label>
                <input type="password"  class="w3-round" placeholder="Enter password" name="pwd" ng-model="regPwd ">
            </div>
            <div class="form-group">
                <label class="fontstyle col-sm-4">Retype Password:</label>
                <input type="password" class="w3-round" placeholder="Retype password" name="retypepwd" ng-model="regRepeatPwd">
            </div><br>
            <div class="buttons text-center">
                <button class="btn btn-primary" ng-click="createReg()"><i class="fa fa-user-plus"></i>  Create an account</button><br><br>
                <p style="font-weight: bold">Login into Application</p>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-male"></i>  Login</button> <label style="font-weight: bold">OR</label>
            <button class="g-signin2" data-onsuccess="onSignIn"></button>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login Form</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Username:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="loginEmail">
                            </div>
                            <div class="form-group">
                                <label>Password:</label>
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" ng-model="loginPwd">
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="login()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>