.profileInfo{
    width: 30rem;
    height: auto;
    margin-left: 5rem;
    margin-top: 7rem;
    background-color: cadetblue;
}
.navbar-inverse .navbar-brand{
    background-color: #bbb !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #bbb !important;
}
.navbar{
    background-color: #bbb !important;
    border:1px solid cadetblue;
}
.navbar-inverse .navbar-nav>li>a{
    color:#bbb !important;
}
.navbar-invers{
    border-color:#bbb !important;
}